{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'main/img/icons8-html-80.png' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <script src="{% static 'main/js/main.js' %}"></script>
</head>
<body>
<style>
    .hero-img {
      background-image: url("{% static 'main/img/me1.jpeg' %}");
    }
</style>
    {% block content %}
    {% endblock %}
</body>
</html>